.main-container{

}
.left-half{
    display: flex 1;

}
.image-space{

}
.education{

}
.reference{

}
.right-half{display: flex 2;

}
.white-space{


}
.yellow-space{
    margin-right: 30;
    width: 100%;
    height: 10%;
    background-color: yellow;

}
.about-me{

}
.educational-info{

}
.left-bottomhalf{

}
.right-bottomhalf{

}
.softskill{

}